<h2>Loan Detail</h2>

<div>
    <h3>Creditor's data:</h3>
    <p>{{loan.creditorData}}</p>
</div>
<div>
    <h3>Debtor's data::</h3>
    <p>{{loan.debtorData}}</p>
</div>
<div>
    <h3>Amount of loan:</h3>
    <p>{{loan.amount}}</p>
</div>
<div>
    <h3>Date of loan:</h3>
    <p>{{loan.date}}</p>
</div>
<div>
    <h3>Foot of loan:</h3>
    <p>{{loan.foot}}</p>
</div>
<div>
    <h3>Add information about loan:</h3>
    <p>{{loan.addInf}}</p>
</div>
<button mat-raised-button (click)="goBack()">Go back</button>
